@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

::-webkit-scrollbar {
  width: 0rem;
}

::-webkit-scrollbar-thumb {
  background: transparent; 
}

::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}


@tailwind base;
@tailwind components;
@tailwind utilities;